@page "/evento"
@rendermode InteractiveServer
@inject NavigationManager _navigationManager

@inject IFiestasClientes _fiestasClientes
@inject IFiestasSalones _fiestasSalones
@inject IFiestasReserva _fiestasReservas

<h3>Reservar Salones</h3>

<button class="btn btn-primary me-2" @onclick="Agregar">Agregar Salones </button> <br /> <br />

<h4>Salones disponibles</h4>

@if (_listaSalones.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Capacidad</th>
                <th>Ubicación</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var salon in _listaSalones)
            {
                <tr>
                    <td>@salon.Nombre</td>
                    <td>@salon.Capacidad</td>
                    <td>@salon.Ubicacion</td>
                    <td>@salon.Precio</td>
                    <td>
                        <button class="btn btn-danger" @onclick="@(() => EliSalon(salon.Id))">Eliminar</button>
                        <button class="btn btn-secondary" @onclick="@(()=> EdiSalon(salon.Id))">Editar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay salones disponibles.</p>
}

@code {
    private List<Salones> _listaSalones = new();
    private List<Reserva> _listaReservas = new();
    private List<Clientes> _listaClientes = new();

    protected override async Task OnInitializedAsync()
    {
        _listaSalones = await _fiestasSalones.GetSalones();
        _listaReservas = await _fiestasReservas.GetReservas();
        _listaClientes = await _fiestasClientes.GetClientes();
    }

    private void Agregar()
    {
        _navigationManager.NavigateTo("/evento/agregar");
    }

    private async Task EliSalon(int Id)
    {
        await _fiestasSalones.DeleteSalon(Id);
        _listaSalones = await _fiestasSalones.GetSalones();
    }

    private async Task EdiSalon(int id)
    {
        _navigationManager.NavigateTo($"/evento/edicion/{id}");
    }
}
